<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue.js Start</title>
    <style>
        #app {
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #2c3e50;
            margin-top: 60px;
        }
    </style>
</head>

<body>

<h1>Vue.js</h1>

<p>Hello World</p>

<div id="app">
    <h2>Animals list</h2>
    <ul>
        <li v-for="a in animals">{{ a.species }}</li>
    </ul>
    <p v-if="!animals.length">No animals!</p>
    <button v-on:click="addParrot()">Add parrot</button><br/>
    <input
            type="text"
            v-model="cokolwiek"
            placeholder="type some animal"
            v-on:keyup.enter="addCustomAnimal()"
    >
    <p>Your animal is: {{ cokolwiek }}</p>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            animals: [
                {
                    species: 'dog'
                },
                {
                    species: 'cat'
                },
                {
                    species: 'rabbit'
                }
            ],
            cokolwiek: ''
        },
        methods: {
            addParrot() {
                const parrot = {
                    species: 'parrot'
                };
                this.animals.push(parrot)
            },
            addCustomAnimal(cokolwiek) {
                let customAnimal = {
                    species: cokolwiek
                };
                this.animals.push(customAnimal);
            }
        }
    })
</script>

</body>

</html>
